<div>
<!--  <div>-->
<!--    <b>Chart types tests: </b>-->
<!--    <a [routerLink]="'/zoom-chart'">Zoom Chart</a>-->
<!--    <a [routerLink]="'/amcharts4-candlestick-page'">Candlesticks</a>-->
<!--    <a [routerLink]="'/range-chart'">Range Chart</a>-->
<!--  </div>-->

  <div>
    <b>Performance tests:</b>
<!--    <a [routerLink]="'/amcharts3'"> Amcharts 3</a>-->
    <a [routerLink]="'/amcharts4'"> Amcharts 4</a>
<!--    <a [routerLink]="'/highcharts'"> Highcharts</a>-->
<!--      <a [routerLink]="'/canvasJS'"> CanvasJS</a>-->
      <a [routerLink]="'/amcharts-zoom'"> Amcharts-zoom</a>
      <a [routerLink]="'/amcharts-zoom-optimized'"> Amcharts-zoom (optimized)</a>
      <a [routerLink]="'/amcharts-zoom-dynamic-series'">  Dynamic Series</a>
  </div>
</div>
