.chart-container {
  display: flex;
  flex-direction: row;
}

#container-zoom {
  width: 1000px;
  height: 500px;
}

#container-zoom-small {
  height: 90px;
}

button {
  width: 100px;
  height: 40px;
}
