<div class="chart-container">
  <div>
    <app-toolbar [applicationsSeriesNames]="applicationsSeriesNames"
                 [label]="4"
                 (appSeriesToggled)="toggleSeries($event)">
    </app-toolbar>

    <!--    <div style="display:flex; flex-direction: column; margin-top: 50px;">-->
    <!--      <button style="cursor: pointer" (click)="generateNewData()"> GENERATE NEW DATA</button>-->
    <!--      <b style="color: red">Data generation will take time</b>-->
    <!--    </div>-->
  </div>

  <div class="charts">
    <figure class="highcharts-figure">
      <div id="container-zoom"></div>
    </figure>
<!--    <figure class="highcharts-figure">-->
<!--      <div id="container-zoom-small"></div>-->
<!--    </figure>-->
  </div>
</div>
